# =====================
# ENV FILES (SECURITY)
# =====================
.env
*.env

# =====================
# PYTHON
# =====================
__pycache__/
*.pyc
venv/
.venv/
backend/venv/

# =====================
# REACT / FRONTEND
# =====================
frontend/node_modules/
frontend/dist/
frontend/build/

# =====================
# SYSTEM FILES
# =====================
.DS_Store
Thumbs.db
